//@import url('https://fonts.googleapis.com/css?family=Open+Sans')

body
	background #f2f2f2
	color: #333
	font-size:18.736299px
	font-family: 'Open Sans', sans-serif

section
	height:100vh
	
.background-grey
	background:#f6f2f2
	
.navbar-nav
	display: inline-block
	float:none
	vertical-align: top

.navbar .navbar-collapse
	text-align:center
	
.navbar-nav>li>a
	padding:30px
	text-transform:uppercase
	
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus
.navbar-inverse .navbar-nav>.open>a:hover
	background:#ff3f40

.btn-danger
	background:#ff2d2d
.btn-lg
	font-size: 24.089527px
	padding: 21px 63px
	
.btn
	font-weight: bold
	
.table-full-width
	overflow: scroll
	
tbody
	white-space: nowrap
	
thead th
	text-align:center

.no-margin
	margin: 0
	
.range-slider
	border: 1px solid #DDDDDD
	margin: 1.11111rem 0
	position: relative
	-ms-touch-action: none
	touch-action: none
	display: block
	height: 0.88889rem
	width: 100%
	background: #FAFAFA
	
.range-slider-handle
	border: 1px solid none
	cursor: pointer
	display: inline-block
	height: 1.22222rem
	position: absolute
	top: -0.27778rem
	width: 1.77778rem
	z-index: 1
	-ms-touch-action: manipulation
	touch-action: manipulation
	background: #008CBA
	
.range-slider-active-segment
	background: #e5e5e5
	border-bottom-left-radius: inherit
	border-top-left-radius: inherit
	display: inline-block
	height: 0.77778rem
	position: absolute

.modalInfo
	width: 100%
	padding: 20px
	background: rgba(203, 203, 210, .15)
	
.button-group
	margin-right:10px;
	
.inline
	display: initial !important
	width: 80% !important
	margin-left: 10px
	margin-bottom: 10px

.fixed_width
	display:block
	margin-top:10px
	margin-left:20px

.inline[readonly]
	background: none !important
	border: none !important
	color: #000 !important
	cursor: initial !important

.initial-width
	width: initial !important

.minimize-margin
	margin: 10px 0px !important
#save, #canselRefresh
	display: none
.card-navigation
	padding:20px
	
.specialities
	padding: 20px
	background: rgba(203, 203, 210, 0.15)
	width: 95%
	margin: auto
.speciality
	padding: 5px
	background: #fff
	padding: 10px
	border:1px solid #ddd
	border-radius: 4px
	margin-right:10px
.del, .add
	padding: 1px
	background: none
	border: none
	margin-left: 10px

.add
	margin-left: 0px
.del:hover span, .add:hover span
	color: #333
.del span
	color: #f00;
span.fa-plus
	color: #0f0;
	