doctype
head
	title БелМАПО
	meta(charset='utf-8')
	//- link(rel='stylesheet' href='css/main.css')
	link(rel='stylesheet' href="css/main.css")
	link(rel='stylesheet' href="css/bootstrap.min.css")
	link(rel='stylesheet' href="css/animate.min.css")
	link(rel='stylesheet' href="css/light-bootstrap-dashboard.css")
	link(rel='stylesheet' href="css/demo.css")
	link(rel='stylesheet' href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	link(rel='stylesheet' href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" type='text/css')
	link(rel='stylesheet' href="css/pe-icon-7-stroke.css")
	link(rel='stylesheet' href="node_modules/fancybox/dist/css/jquery.fancybox.css")
	link(rel='stylesheet' href="css/jquery-ui.min.css")
	script(src="js/jquery-1.11.3.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/bootstrap-checkbox-radio-switch.js")
body(ng-app="personalInfoApp")
	.modalInfo
		.content
		.card
			.header
				h4.title Профиль врача
				.content(ng-controller="personalInfoCtrl")
					form
						.row
							.col-md-4
								.form-group
									label Фамилия
									input(type="text" value="{{ doctor.surname }}").form-control
							.col-md-4
								.form-group
									label Имя
									input(type="text" value="{{ doctor.name }}").form-control
							.col-md-4
								.form-group
									label Отчество
									input(type="text" value="{{ doctor.patername }}").form-control
						.row
							.col-md-2
								.form-group
									label Дата рождения
									input(type="text" value="{{ doctor.birthday }}").form-control
							.col-md-5
								.form-group
									label Учреждение образования
									input(type="text" value="{{ doctor.EstName }}").form-control
							.col-md-2
								.form-group
									label Гражданство
									input(type="text" value="{{ doctor.ResName }}").form-control
							.col-md-3
								.form-group
									label Дата получения диплома
									input(type="text" value="{{ doctor.diploma_start }}").form-control
						.row
							.col-md-4
								.form-group
									label Должность
									input(type="text" value="{{ doctor.AppName }}").form-control
							.col-md-4
								.form-group
									label Звание кандидата медицинских наук
									input(type="text" value="{{ doctor.isDoctor }}").form-control
							.col-md-4
								.form-group
									label Контактный телефон
									input(type="text" value="{{ doctor.tel_number }}").form-control
						.row
							.col-md-6
								.form-group
									label Организация
									input(type="text" value="{{ doctor.OrgName }}").form-control
							.col-md-3
								.form-group
									label Область
									input(type="text" value="{{ doctor.RegName }}").form-control
							.col-md-3
								.form-group
									label Опыт работы
									input(type="text" value="{{ doctor.experience_general + " + " + doctor.experiance_special }}").form-control
						.row
							.col-md-3
								.form-group
									label Страховой номер
									input(type="text" value="{{ doctor.insurance_number }}").form-control
							.col-md-3
								.form-group
									label Отдел
									input(type="text" value="{{ doctor.DepName }}").form-control
							.col-md-3
								.form-group
									label Факультет
									input(type="text" value="{{ doctor.FacName }}").form-control
							.col-md-3
								.form-group
									label Номер диплома
									input(type="text" value="{{ doctor.diploma_number }}").form-control
						button.btn.btn-danger.btn-fill.pull-right.button-group Отмена
						button(type="submit").btn.btn-success.btn-fill.pull-right.button-group Обновить
						.clearfix
	script(src="js/angular.js")
	script(src="node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js")
	script(src="js/angular-locale_ru-ru.js")
	script(src="js/bootstrap-notify.js")
	script(src="js/light-bootstrap-dashboard.js")
	script(src="js/demo.js")
	script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
	script(src="js/jquery-ui.min.js")
	script(src="js/ui.js")
	script(src="js/personalInfo.js")