doctype
head
	title БелМАПО
	meta(charset='utf-8')
	//- link(rel='stylesheet' href='css/main.css')
	link(rel='stylesheet' href="css/main.css")
	link(rel='stylesheet' href="css/bootstrap.min.css")
	link(rel='stylesheet' href="css/animate.min.css")
	link(rel='stylesheet' href="css/light-bootstrap-dashboard.css")
	link(rel='stylesheet' href="css/demo.css")
	link(rel='stylesheet' href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	link(rel='stylesheet' href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" type='text/css')
	link(rel='stylesheet' href="css/pe-icon-7-stroke.css")
	link(rel='stylesheet' href="node_modules/fancybox/dist/css/jquery.fancybox.css")
	link(rel='stylesheet' href="css/jquery-ui.min.css")
	script(src="js/jquery-1.11.3.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/bootstrap-checkbox-radio-switch.js")

	<div class="col-md-12">
	.card
		.header
			h4.title Профиль врача
			.content
				form
					.row
						.col-md-12
							.form-group
								labelCompany
								input(type="text" disabled="" placeholder="Company" value="Creative Code Inc.").form-control
					.row
						.col-md-12
							.form-group
								labelCompany
								input(type="text" disabled="" placeholder="Company" value="Creative Code Inc.").form-control
					.row
						.col-md-12
							.form-group
								labelCompany
								input(type="text" disabled="" placeholder="Company" value="Creative Code Inc.").form-control
					.row
						.col-md-12
							.form-group
								labelCompany
								input(type="text" disabled="" placeholder="Company" value="Creative Code Inc.").form-control
					.row
						.col-md-12
							.form-group
								labelCompany
								input(type="text" disabled="" placeholder="Company" value="Creative Code Inc.").form-control
					.row
						.col-md-12
							.form-group
								labelCompany
								input(type="text" disabled="" placeholder="Company" value="Creative Code Inc.").form-control
					button(type="submit").btn.btn-info.btn-fill.pull-right Update Profile
					.clearfix