<!DOCTYPE html>
html(lang="en")
head
	title БелМАПО
	meta(charset='utf-8')
	link(rel="stylesheet", href="css/registerform.css")
body
	.login-page
		.form
			form.register-form
				h1 БелМАПО
				input(type="text" placeholder="логин")
				input(type="password" placeholder="пароль")
				input(type="email" placeholder="email")
				button Создать
				p.message Уже зарегистрированы?
					a(href="#")  Войти
			form.login-form
				h1 БелМАПО
				input(type="text" placeholder="логин")
				input(type="password" placeholder="пароль")
				button войти
				p.message Не зарегистрированы?
					a(href="#")  Создать аккаунт
	script(src="js/jquery-1.11.3.min.js")
	script(src="js/registerform.js")

	
	