extends layout
block content
			.content
				.container-fluid
					.row
						.col-md-12
							.card
								.header
									h4.title Последние зачисленные
									p.category Список последних зачисленных слушателей
								.content.table-responsive.table-full-width(ng-controller="LastList")
									table.table.table-hover.table-striped
										thead
											th Дата
											th Факультет
											th Кафедра
											th Курс
											th Группа
											th Тип обучения
											th Место проживания
											th Форма обучения
											th Направление-счёт
											th Номер документа
											th Статус
										tbody
											tr(ng-repeat="arrive in list")
												td {{ arrive.Date | date: "d MMMM yyyy" }}
												td {{ arrive.FacultName }}
												td {{ arrive.CathName }}
												td {{ arrive.CourceName }}
												td {{ arrive.GroupNum}}
												td {{ arrive.EducType}}
												td {{ arrive.ResidPlace}}
													span(ng-show="{{ arrive.ResidPlace === ''}}") Не указано
												td {{ arrive.FormEduc}}
												td {{ arrive.Dic-count }}
												td {{ arrive.DocNumber }}
												td {{ arrive.Status }}
						.col-md-6
							.card
								.header
									h4.title Слушатели
									p.category По категориям
								.content(ng-controller="NationalityCtrl")
									#NationalityChart.ct-chart.ct-perfect-fourth
									.footer
										.legend Open Bounce Unsubscribe
										hr
										.stats Campaign sent 2 days ago
						.col-md-6
							.card
								.header
									h4.title Слушатели
									p.category По категориям
								.content(ng-controller="FacultyCtrl")
									#FacultyChart.ct-chart.ct-perfect-fourth
									.footer
										.legend Open Bounce Unsubscribe
										hr
										.stats Campaign sent 2 days ago