extends layout
block content
	.content
		.col-md-12
			.card
				.header
					h4.title Количество слушателей
					p.category По специальностям
				.content
					#SpecialityChart.ct-chart.ct-perfect-fourth
					.footer
						.legend Open Bounce Unsubscribe
						hr
						.stats Campaign sent 2 days ago