extends layout
block content
	.content(ng-controller="OptionsCtrl")
		.container-fluid
			.row
				.col-md-3
					.card
						.header
							h4.title Настройки
							p.category Настройки поиска врачей
						.content
							form
								.row
									.col-md-12
										.form-group.no-margin
											label Фамилия
											input(type="text" name="surname" ng-model="find.surname" ng-change="findAction()").form-control
									.col-md-12
										.form-group.no-margin
											label Пол
											select.form-control(name="gender" ng-model="find.gender" ng-change="findAction()" ng-options="option.name for option in find.options track by option.id")
												
									.col-md-12
										.form-group.no-margin
											label Возраст: от 
												span#fromAge(ng-model="find.fromAge" ng-change="findAction()") 20 
												|      до 
												span#toAge 50
											#age
											span 0
											span.pull-right 100
									.col-md-12
										.form-group.no-margin
											label Учебное заведение
											input(name="establishment" ng-model="find.establishment").form-control#ee
									.col-md-12
										.form-group.no-margin
											label Должность
											input(name="appointment" ng-model="find.appointment").form-control#app
									.col-md-12
										.form-group.no-margin
											label врачебная Специальность
											input(name="speciality" ng-model="find.speciality_main").form-control#mainSp
									.col-md-12
										.form-group.no-margin
											label Специальность по переподготовке
											input(name="speciality" ng-model="find.speciality_rep").form-control#repSp
									.col-md-12
										.form-group.no-margin
											label Специальность (прочие)
											input(name="speciality" ng-model="find.speciality_other").form-control#otherSp
									.col-md-12
										.form-group.no-margin
											label Квалификация (основная)
											input(name="qualification" ng-model="find.qualification_main").form-control#mainQual
									.col-md-12
										.form-group.no-margin
											label Квалификация (дополнительная)
											input(name="qualification" ng-model="find.qualification_add").form-control#addQual
									.col-md-12
										.form-group.no-margin
											label Квалификация (прочие)
											input(name="qualification" ng-model="find.qualification_other").form-control#otherQual
				.col-md-9
					.card
						.header
							h4.title Результаты поиска
							p.category Учётные карточки врачей
						.content
							.row#DoctorList
								div.col-md-4(ng-repeat="doctor in doctors")
									div.card.card-user
										div.image
											img(src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&amp;fm=jpg&amp;h=300&amp;q=75&amp;w=400" alt="...")
										div.content
											div.author
												a(href="#")
													img.avatar.border-gray(src="img/faces/avatar.png" alt="...")
													h4.title {{ doctor.surname }} {{ doctor.name }}
													small {{ doctor.birthday }}
											p.description.text-center 
											|Lamborghini Mercy br
											|Your chick she so thirsty br
											|I'm in that two seat Lambo
										div.text-center
											button.btn.btn-info.form-control Просмотр
