extends layout
block content
			.row
				.col-md-9
					h2 This is about page
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quasi labore harum repellendus culpa odit mollitia inventore accusantium molestiae ad hic tempora possimus, saepe pariatur maiores minus fugiat enim. Consequatur.
				.col-md-3
					h2 This is custom template
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure beatae adipisci provident excepturi velit magnam veniam, maxime tenetur blanditiis assumenda quasi ut, voluptates ab ipsa animi sit at ipsam. Obcaecati.